:root {
    --header-height: 140px;
}
.edu-tas-beginner {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .main-title {
    height: var(--header-height);

    text-align: center;
    font-size: 5rem;
    font-weight: 700;

    background-image: url(../img/wall.png);
    padding: 1.6rem 0;
    margin: 0;
  }

  .my-desk {
    background-image: url(../img/cork.png);
    height: calc(100vh - var(--header-height));
    overflow: scroll;
  }

  .my-card {
    margin: 0 auto;
    max-width: 350px;
    background-color: white;
    padding: 15px;
  }

  .img-my-card {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: bottom;
  }

  .description-img-my-card {
    margin: 15px 0;
    font-size: 1.5rem;
  }

/* .date {
    font-family: "Sometype Mono", monospace;
} */


@media screen and (min-width: 768px) {
    .main-title {
        font-size: 6rem;
        padding: 0.8rem 0;
    }

    .my-card {
        width: 100%;
    }
}